.summaryContainer {
    width: 35%;
    float: right;
}

.amountType {
    width: 75%;
}

.amount {
    width: 25%;
    text-align: right;
}

.checkoutButton {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .summaryContainer {
        width: 100%;
    }
}