.container {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
}

.responsive {
    display: flex;
}

.cartItems {
    width: 75%;
}

@media screen and (max-width: 1200px) {
    .responsive {
        margin-left: 20px;
        margin-right: 20px;
        display: block;
    }
    
    .cartItems {
        width: 100%;
    }
}